.header__lang-link {
    color: #ffff;
    margin: 0;
    padding: 0;
    margin-right: 18px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
}

.header__lang-link_active {
    text-decoration: underline;
}
/* Понимаю, что неверно здесь писать модификатор, но если сделать вложенность модификатора 
 путём (blocks/header/__lang-link/_active/header__lang-link_active.css),
 то проверка при загрузке работы не пускает (сделал скриншот ошибки), якобы неправильная вложенность,
 хотя вложенность как обычно для модификаторов по БЭМ, по теории и ранним проектам, когда всё было ок.
 Насчёт подчёркивания: как Я понял, псевдоклассы :active и :visited тут не к месту, да и :visited не работает,
  либо Я ещё не понимаю как его правильно оформлять. */

.header__lang-link:hover {
    opacity: 0.8;
}

.header__lang-link:last-of-type {
    margin: 0;
}

@media all and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}