@font-face {
    font-family: 'Inter';
    src: url(./vendor/fonts/inter-400.woff) format('woff');
    src: url(./vendor/fonts/inter-400.woff2) format('woff2');
    font-weight: 400;
    line-height: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(./vendor/fonts/inter-700.woff) format('woff');
    src: url(./vendor/fonts/inter-700.woff2) format('woff2');
    font-weight: 700;
    line-height: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(./vendor/fonts/inter-900.woff) format('woff');
    src: url(./vendor/fonts/inter-900.woff2) format('woff2');
    font-weight: 900;
    line-height: normal;
}

body {
    margin: 0;
    padding: 0;
}

.page {
    color: #ffff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    background-color: #2A2C2F;
}

.header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    top: 30px;
    margin: 0 auto 0;
    max-width: calc(100% - 96px);
}

.header__logo {
    padding: 0;
    margin: 0;
    height: 52px;
    width: 176px;
    object-fit: visible;
}

.header__lang-link {
    color: #ffff;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
}

.header__lang-link:hover {
    text-decoration: underline;
}

.header__lang-link:first-child {
    margin-right: 18px;
}
    
.lead {
    margin-top: 56px;
}

.lead__title {
    margin: 0;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}

.lead__subtitle {
    padding: 32px auto 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.lead__image {
    margin: 64px 0 8px;
    width: 100%;
}

.lead__caption {
    margin: 0;
    padding-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 140%;
    line-height: 14px;
    text-transform: uppercase;
}

.intro {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 50%;
    margin-top: 92px;
    padding-left: 20px;
}

.intro__title {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 110px;
}

.intro__text {
    margin-top: 40px;
    font-size: 25px;
    line-height: 30px;
    font-weight: normal;
}

.intro__list {
    margin-top: 33px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    list-style: none;
}
.intro__span-accent {
    font-weight: 400;
    font-size: 25px;
    line-height: 26px;
}

.photo-grid {
    margin: 92px auto 0;
    display: grid;
    width: calc(100% - 96px);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.photo-grid__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.places {
    width: 95%;
    margin: 92px auto 0;
}

.place {
    display: grid;
    grid-template-columns: minmax(1fr, max-content) minmax(min-content, max-content);
    gap: 40px;
    grid-template-areas: 
        'title website'
        'image paragraph'
        'image .';
    margin: 80px 0 0;
}

.place:first-of-type {
    margin: 0;
}

.place__title {
    grid-area: title;
    text-align: start;
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

.place__image {
    grid-area: image;
    width: 100%;
    height: 100%;
    margin-top: 8px;
    object-fit: cover;
    display: block;
}

.place__website {
    grid-area: website;
    align-self: flex-end;
}

.place__url-heading {
    color: #AAAAAA;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
}

.place__link {
    color: white;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.place__paragraph {
    grid-area: paragraph;
    margin: 0;
    padding: 0;
    width: fit-content;
    align-self: flex-start;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
}

.cover {
    width: 100%;
    margin: 92px 0 0;
    box-sizing: border-box;
}

.cover__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 40px;
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
    text-decoration: none;
}

.cover__overlay:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    transition: opacity 200ms ease-in-out;
}

.cover__overlay:hover:before {
    opacity: 0.8;
}

.cover__title {
    color: white;
    font-weight: bold;
    font-size: 72px;
    line-height: 76px;
    margin: 245px auto 0;
    text-align: center;
    align-items: center;
}

.cover__subtitle {
    color: white;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 32px auto 245px;
    text-align: center;
}

.cover__background {
    position: absolute;
    max-width: 100%;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0;
    z-index: -2;
    object-fit: cover;
}

.footer {
    width: calc(100% - 96px);
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 94px auto 0;
    bottom: 35px;
}

.footer__link {
    color: white;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    margin: 0 18px 0 0;
}

.footer__copyright {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
}

