.header__logo {
    height: 52px;
    width: 176px;
    padding: 0;
    margin: 0;
    object-fit: visible;
}

@media all and (max-width: 320px) {
    .header__logo {
        height: 42px;
        width: 142px;
    }
}