.place__main-text {
    margin: 8px 0 0;
}

@media screen and (max-width: 1024px) {
    .place__main-text {
        margin-top: 16px;
    }
}

@media all and (max-width: 768px) {
    .place__main-text {
        margin-top: 20px;
    }
}

@media all and (max-width: 320px) {
    .place__main-text {
        margin: 32px 16px 0;
    }
}