.place {
    display: grid;
    grid-template-columns: minmax(225px, 1fr) 1fr;
    gap: 40px;
    grid-template-areas: 
        'title website'
        'image paragraph';
    margin: 40px 0 0;
    padding: 0;
    /*grid-auto-flow: dense;*/
}

.place:first-of-type {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        gap: 32px;
    }
}

@media all and (max-width: 768px) {
    .place {
        margin-top: 33px;
        gap: 28px;
    }
}

@media all and (max-width: 550px) {
    .place {
        display: flex;
        flex-direction: column;
    }
}

@media all and (max-width: 320px) {
    .place {
        margin-top: 50px;
        gap: 0;
    }
}