.place__website {
    grid-area: website;
    align-self: flex-end;
    
}

@media all and (max-width: 550px) {
    .place__website {
        align-self: flex-start;
    }
}

@media all and (max-width: 320px) {
    .place__website {
        margin: 32px 16px;
    }
}